.wallpaper-list {
    .preview-box {
        min-width: 176px;
        min-height: 99px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    button {
        padding: 4px;
        margin: 4px;
    }

    .scroll-box {
        min-height: 110px;
    }
}

.wallpaper-btn {
    padding: 4px;
    border-radius: 8px;
    background: transparent;
    transition: all 0.15s ease;
}

.wallpaper-btn.wallpaper-hovered {
    background-color: mix($secondaryContainer, $onSecondaryContainer, 90%);
}

.wallpaper-window {
    @extend .sidebar-right;
}

.wallpaper-placeholder {
    padding: 2rem;

    .txt-large {
        font-size: 1.2em;
    }

    .txt-subtext {
        opacity: 0.8;
    }
}

.slider-controls {
    margin: 10px 0;
}
.slider-btn {
    padding: 8px;
    border-radius: 50%;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;

    &:hover {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 90%);
    }
    
    &:active {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 80%);
    }
}

.wall-position-indicator {
    border-radius: 20px ;
    font-weight: 500;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    font-size: 1.1em;
    min-width: 110px;
}